{% extends "base.html" %}

{% block content %}

<!-- Modal for updating a contact -->
<div class="modal fade" id="EditContact" tabindex="-1" aria-labelledby="EditContactLabel" aria-hidden="true"
     data-bs-note_id="0">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditContactLabel">Adding a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="cnt_id"/>
        <div class="row">
          <div class="col-md-6">
            <label for="first_name" class="control-label"><span style="font-weight:bold">First name</span></label>
            <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="off"
                   required value="">
            <div class="invalid-feedback">
              Enter a first name
            </div>
          </div>
          <div class="col-md-6">
            <label for="last_name" class="control-label"><span style="font-weight:bold">Last name</span></label>
            <input type="text" class="form-control" id="last_name" name="last_name" autocomplete="off" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="birthday" class="control-label"><span style="font-weight:bold">Birthday</span></label>
            <input type="date" class="form-control" id="birthday" name="birthday" value="">
          </div>
          <div class="col-md-8">
            <label for="email" class="control-label"><span style="font-weight:bold">Email</span></label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="off" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="phones" class="control-label"><span style="font-weight:bold">Phones</span></label>
            <input type="text" class="form-control" id="phones" name="phones" autocomplete="off" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="address" class="control-label"><span style="font-weight:bold">Address</span></label>
            <input type="text" class="form-control" id="address" name="address" autocomplete="off" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for updating a contact-->

<!-- Modal for deleting a contact -->
<div class="modal fade" id="DeleteContact" tabindex="-1" aria-labelledby="basicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="col-xs-2 control-label">Do you want to
          <span style="font-weight:bold;color:red">delete</span> the contact ?
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for deleting a contact-->

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container">
        <h1>Contacts</h1>
        <nav class="navbar">
          <div class="d-flex justify-content-start">
            <form class="d-flex" action="/contacts/" method="post">
              <input class="form-control me-2" id="filter_str" type="search" name="filter_str"
                     placeholder="Search" aria-label="Search" value="{{ filter_str }}">
              <button class="btn btn-outline-success text-nowrap" type="submit">
                <span class="btn-label"><i class="fa fa-refresh"></i></span> Refresh
              </button>
            </form>
          </div>
          <div class='d-flex justify-content-end'>
            <button class="btn btn-outline-primary text-nowrap"
                      data-bs-toggle="modal"
                      data-bs-target="#EditContact"
                      data-bs-cnt_id="">
              <span class="btn-label"><i class="fa fa-user-plus"></i></span> Add contact
            </button>
          </div>
        </nav>
      </div>
      <div class="container mb-3 mt-2">
        <table class="table table-bordered table-striped" id="ContactsTable">
          <thead class="table-dark">
          <tr>
            <th style="width: 10%">Id</th>
            <th style="width: 35%">Full name</th>
            <th style="width: 15%">Birthday</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          {% for cnt in contacts %}
          <tr data-rowid="{{ cnt.id }}">
            <td class="text-end">{{ cnt.id }}</td>
            <td class="text-start">{{ cnt.full_name }}</td>
            <td class="text-start">{{ cnt.birthday|format_date }}</td>
            <td class="text-start">{{ cnt.email }}</td>

            <td>
              <button type="button" class="btn btn-outline-secondary btn-edit btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#EditContact"
                      data-bs-cnt_id="{{ cnt.id }}"
              >
                <span class="btn-label"><i class="fa fa-user-edit"></i></span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary btn-delete btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#DeleteContact"
                      data-bs-cnt_id="{{ cnt.id }}"
              >
                <span class="btn-label"><i class="fa fa-user-minus"></i></span>
              </button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>


<script>
  const del_form = document.getElementById("DeleteContact")

  del_form.addEventListener("show.bs.modal", async event => {
    const button = event.relatedTarget
    const cnt_id = button.getAttribute("data-bs-cnt_id")
    const submit_btn = del_form.querySelector(".btn-danger")
    const cancel_btn = del_form.querySelector(".btn-secondary")

    submit_btn.onclick = async function () {
      const result = await deleteContact(cnt_id);
      if (result)
        cancel_btn.click();
    };
  })

  const edit_form = document.getElementById("EditContact")

  edit_form.addEventListener("show.bs.modal", async event => {
    const button = event.relatedTarget;
    const cnt_id = button.getAttribute("data-bs-cnt_id");

    if (cnt_id === "") {
      document.getElementById("cnt_id").value = "";
      document.getElementById("first_name").value = "";
      document.getElementById("last_name").value = "";
      document.getElementById("birthday").value = "";
      document.getElementById("email").value = "";
      document.getElementById("address").value = "";
    }
    else
      await getContact(cnt_id);

    const submit_btn = edit_form.querySelector(".btn-primary");
    const cancel_btn = edit_form.querySelector(".btn-secondary");

    submit_btn.onclick = async function () {
      let result;
      if (cnt_id === "")
        result = await createContact();
      else
        result = await editContact();
      if (result)
        cancel_btn.click();
    };
  })
</script>

{% endblock %}