{% extends "base.html" %}

{% block content %}

<!-- Modal for updating a contact -->
<div class="modal fade" id="EditContact" tabindex="-1" aria-labelledby="EditContactLabel" aria-hidden="true"
     data-bs-note_id="0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditContactLabel">Adding a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <input type="hidden" id="cnt_id"/>
          <div class="row">
            <div class="col-md-6">
              <label for="first_name" class="control-label"><span style="font-weight:bold">First name</span></label>
              <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="off"
                     required value="">
              <div class="invalid-feedback">
                Enter a first name
              </div>
            </div>
            <div class="col-md-6">
              <label for="last_name" class="control-label"><span style="font-weight:bold">Last name</span></label>
              <input type="text" class="form-control" id="last_name" name="last_name" autocomplete="off" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="birthday" class="control-label"><span style="font-weight:bold">Birthday</span></label>
              <input type="date" class="form-control" id="birthday" name="birthday" value="">
            </div>
            <div class="col-md-8">
              <label for="email" class="control-label"><span style="font-weight:bold">Email</span></label>
              <input type="email" class="form-control" id="email" name="email" autocomplete="off" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="phones" class="control-label"><span style="font-weight:bold">Phones</span></label>
              <input type="text" class="form-control" id="phones" name="phones" autocomplete="off" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="address" class="control-label"><span style="font-weight:bold">Address</span></label>
              <input type="text" class="form-control" id="address" name="address" autocomplete="off" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
<!-- End Modal for updating a contact-->

<!-- Modal for deleting a contact -->
<div class="modal fade" id="DeleteContact" tabindex="-1" aria-labelledby="basicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="col-xs-2 control-label">Do you want to
          <span style="font-weight:bold;color:red">delete</span> the contact ?
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for deleting a contact-->

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1>{{ title }}</h1>

      <nav class="navbar">
        <div class="d-flex justify-content-start">
          <form class="d-flex" action="/contacts/" method="post">
            <input class="form-control me-2" id="filter_str" type="search" name="filter_str"
                   placeholder="Search" aria-label="Search" value="{{ filter_str }}">
            <button class="btn btn-outline-success" type="submit">Refresh</button>
          </form>
        </div>
      </nav>

      <div class="container mb-3 mt-2">
        <table class="table table-bordered table-striped" id="ContactsTable">
          <thead class="table-dark">
          <tr>
            <th style="width: 10%">Id</th>
            <th style="width: 35%">Full name</th>
            <th style="width: 15%">Birthday</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          {% for cnt in contacts %}
          <tr data-rowid="{{ cnt.id }}">
            <td class="text-end">{{ cnt.id }}</td>
            <td class="text-start">{{ cnt.full_name }}</td>
            <td class="text-start">{{ cnt.birthday }}</td>
            <td class="text-start">{{ cnt.email }}</td>

            <td>
              <button type="button" class="btn btn-outline-primary btn-edit btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#EditContact"
                      data-bs-cnt_id="{{ cnt.id }}"
              ></button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-delete btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#DeleteContact"
                      data-bs-cnt_id="{{ cnt.id }}"
              ></button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>


<script>

  // (async () => {
  //   'use strict'
  //
  //   const edit_buttons = document.querySelectorAll('.btn-edit')
  //   Array.from(edit_buttons).forEach(btn => {
  //     btn.addEventListener('click', event => {
  //       const cntId = event.target.getAttribute("data-bs-cnt_id")
  //       const modal = new bootstrap.Modal(document.querySelector('#modal'));
  //       modal.show();
  //
  //       document.getElementById("DeleteBtn").setAttribute("data-id", cntId);
  //
  //     })
  //   })
  //
  //   const del_buttons = document.querySelectorAll('.btn-delete')
  //   Array.from(del_buttons).forEach(btn => {
  //     btn.addEventListener('click', event => {
  //       const cntId = event.target.getAttribute("data-bs-cnt_id")
  //
  //
  //
  //       deleteContact(cntId);
  //     })
  //   })
  // })()


  function new_table_row(contact) {
    let tr = document.createElement("tr");
    tr.setAttribute("data-rowid", contact.id);
    let td = document.createElement("td");
    td.className = "text-end";
    td.innerText = contact.id;
    tr.append(td);
    td = document.createElement("td");
    td.className = "text-start";
    td.innerText = contact.first_name + (contact.last_name ? " " + contact.last_name : "");
    tr.append(td);
    td = document.createElement("td");
    td.className = "text-start";
    td.innerText = contact.birthday;
    tr.append(td);
    td = document.createElement("td");
    td.className = "text-start";
    td.innerText = contact.email;
    tr.append(td);

    td = document.createElement("td");
    let button = document.createElement("button");
    button.className = "btn btn-outline-primary btn-edit btn-sm";
    button.setAttribute("data-bs-toggle", "modal");
    button.setAttribute("data-bs-target", "#EditContact");
    button.setAttribute("data-bs-cnt_id", contact.id);
    td.append(button);
    tr.append(td);

    td = document.createElement("td");
    button = document.createElement("button");
    button.className = "btn btn-outline-danger btn-delete btn-sm";
    button.setAttribute("data-bs-toggle", "modal");
    button.setAttribute("data-bs-target", "#DeleteContact");
    button.setAttribute("data-bs-cnt_id", contact.id);
    td.append(button);
    tr.append(td);

    return tr;
  }


  // function row(contact) {
  //   const tr = document.createElement("tr");
  //   tr.setAttribute("data-rowid", contact.id);
  //
  //   const nameTd = document.createElement("td");
  //   nameTd.append(contact.first_name);
  //   tr.append(nameTd);
  //
  //   const ageTd = document.createElement("td");
  //   ageTd.append(contact.email);
  //   tr.append(ageTd);
  //
  //   const linksTd = document.createElement("td");
  //
  //   const editLink = document.createElement("button");
  //   editLink.append("Изменить");
  //   editLink.addEventListener("click", async () => await getContact(contact.id));
  //   linksTd.append(editLink);
  //
  //   const removeLink = document.createElement("button");
  //   removeLink.append("Удалить");
  //   removeLink.addEventListener("click", async () => await deleteContact(contact.id));
  //   linksTd.append(removeLink);
  //
  //   tr.appendChild(linksTd);
  //
  //   return tr;
  // }

  async function getContact(id) {
    const response = await fetch(`/api/contacts/${id}`, {
      method: "GET",
      headers: {"Accept": "application/json"}
    });
    if (response.ok === true) {
      const contact = await response.json();
      document.getElementById("cnt_id").value = contact.id;
      document.getElementById("first_name").value = contact.first_name;
      document.getElementById("last_name").value = contact.last_name;
      document.getElementById("birthday").value = contact.birthday;
      document.getElementById("email").value = contact.email;
      document.getElementById("address").value = contact.address;
    } else {
      const error = await response.json();
      alert(error.message);
    }
  }

  async function editContact() {
    const response = await fetch("api/contacts", {
      method: "PUT",
      headers: {"Accept": "application/json", "Content-Type": "application/json"},
      body: JSON.stringify({
        id: document.getElementById("cnt_id").value,
        first_name: document.getElementById("first_name").value,
        last_name: document.getElementById("last_name").value,
        birthday: document.getElementById("birthday").value,
        email: document.getElementById("email").value,
        address: document.getElementById("address").value
      })
    });
    if (response.ok === true) {
      const contact = await response.json();
      document.querySelector(`tr[data-rowid='${contact.id}']`).replaceWith(new_table_row(contact));
    } else {
      const error = await response.json();
      alert(error.message);
      return false;
    }

    return true;
  }


  async function deleteContact(id) {
    const response = await fetch(`/api/contacts/${id}`, {
      method: "DELETE",
      headers: {"Accept": "application/json"}
    });
    if (response.ok === true) {
      const contact = await response.json();
      document.querySelector(`tr[data-rowid='${contact.id}']`).remove();
    } else {
      const error = await response.json();
      alert(error.message);
      return false;
    }
    return true;
  }

  const del_form = document.getElementById("DeleteContact")

  del_form.addEventListener("show.bs.modal", async event => {
    const button = event.relatedTarget
    const cnt_id = button.getAttribute("data-bs-cnt_id")
    const submit_btn = del_form.querySelector(".btn-danger")
    const cancel_btn = del_form.querySelector(".btn-secondary")

    submit_btn.onclick = async function() {
      const result = await deleteContact(cnt_id);
      if (result)
        cancel_btn.click();
    };
  })

  const edit_form = document.getElementById("EditContact")

  edit_form.addEventListener("show.bs.modal", async event => {
    const button = event.relatedTarget;
    const cnt_id = button.getAttribute("data-bs-cnt_id");

    await getContact(cnt_id);

    const submit_btn = edit_form.querySelector(".btn-primary");
    const cancel_btn = edit_form.querySelector(".btn-secondary");

    submit_btn.onclick = async function() {
      const result = await editContact();
      if (result)
        cancel_btn.click();
    };
  })

</script>

{% endblock %}