{% extends "base.html" %}

{% block content %}
<h1>Change password</h1>
<div class="row mt-4">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form id="ChangePasswordForm">
      <div class="form-floating mb-4">
        <input type="password" class="form-control" value="" id="UserPassNew" placeholder="New password">
        <label for="UserPassNew">New password</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control" value="" id="UserPassConf" placeholder="Confirm password">
        <label for="UserPassConf">Confirm password</label>
      </div>

      <button type="button" class="btn btn-primary btn-block mb-4" onclick="ChangePassword()">Save password</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}