{% extends "base.html" %}

{% block content %}

<!-- Modal for updating a contact -->
<div class="modal fade" id="EditContact" tabindex="-1" aria-labelledby="EditContactLabel" aria-hidden="true"
     data-bs-note_id="0">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditContactLabel">Adding a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="cnt_id"/>
        <div class="row">
          <div class="col-md-6">
            <label for="first_name" class="control-label"><span style="font-weight:bold">First name</span></label>
            <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="off"
                   required value="">
            <div class="invalid-feedback">
              Enter a first name
            </div>
          </div>
          <div class="col-md-6">
            <label for="last_name" class="control-label"><span style="font-weight:bold">Last name</span></label>
            <input type="text" class="form-control" id="last_name" name="last_name" autocomplete="off" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="birthday" class="control-label"><span style="font-weight:bold">Birthday</span></label>
            <input type="date" class="form-control" id="birthday" name="birthday" value="">
          </div>
          <div class="col-md-8">
            <label for="email" class="control-label"><span style="font-weight:bold">Email</span></label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="off" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="phones" class="control-label"><span style="font-weight:bold">Phones</span></label>
            <input type="text" class="form-control" id="phones" name="phones"
                   autocomplete="off" value="" oninput="numberOnly(this)">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="address" class="control-label"><span style="font-weight:bold">Address</span></label>
            <input type="text" class="form-control" id="address" name="address" autocomplete="off" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for updating a contact-->

<!-- Modal for deleting a contact -->
<div class="modal fade" id="DeleteContact" tabindex="-1" aria-labelledby="basicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="col-xs-2 control-label">Do you want to
          <span style="font-weight:bold;color:red">delete</span> the contact ?
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for deleting a contact-->

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container">
        <h1>Contacts</h1>
        <nav class="navbar">
          <div class="d-flex justify-content-start">
            <input class="form-control me-2" id="filter_str" type="search"
                   placeholder="Search" aria-label="Search" value="">
            <button class="btn btn-outline-success text-nowrap" onclick="getContacts(1)">
              <span class="btn-label"><i class="fa fa-refresh"></i></span> Refresh
            </button>
          </div>
          <div class='d-flex justify-content-end'>
            <button class="btn btn-outline-primary text-nowrap"
                    onclick="EditContactShow('')"
                      data-bs-cnt_id="">
              <span class="btn-label"><i class="fa fa-user-plus"></i></span> Add contact
            </button>
          </div>
        </nav>
      </div>
      <div class="container mb-3 mt-2">
        <table class="table table-bordered table-striped" id="ContactsTable">
          <thead class="table-dark">
          <tr>
            <th data-type = "number" style="width: 10%"
                data-bs-sort_order="-1">Id</th>
            <th data-type = "string" style="width: 35%"
                data-bs-sort_order="0"><i class="fa fa-down-long"></i> Full name</th>
            <th data-type = "string" style="width: 15%"
                data-bs-sort_order="-1">Birthday</th>
            <th data-type = "string" style="width: 30%"
                data-bs-sort_order="-1">Email</th>
            <th data-type = "button" style="width: 10%"
                data-bs-sort_order="-1" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<script>
  const numberOnly = e => {
    const value = e.value;
    e.value = value.replace(/[^ ,\d]/g, '');
  }

  const contact_table = document.getElementById("ContactsTable");

  contact_table.onclick = function (e) {
    if (e.target.tagName !== "TH") return;
    const data_sorted = e.target.getAttribute("data-bs-sort_order");
    switch(data_sorted) {
      case "0":
        e.target.setAttribute("data-bs-sort_order", "1");
        e.target.innerHTML = "<i class='fa fa-up-long'></i>" + e.target.innerText;
      break;
      case "1":
        e.target.setAttribute("data-bs-sort_order", "0");
        e.target.innerHTML = "<i class='fa fa-down-long'></i>" + e.target.innerText;
      break;
      default: return;
    }

    let th = e.target;
    local_sort_table(th.cellIndex, th.dataset.type, "ContactsTable");
  }
</script>
{% endblock %}